name: ansible

configs:
  private_key:
    file: ./config/private_key

services:
  ansible:
    image: ansible:dev
    working_dir: /ansible
    # network_mode: host
    entrypoint: 
      - /bin/sh
      - -c
    command: 
      - tail -f /dev/null

    configs:
      - source: private_key
        target: /root/.ssh/private_key
    volumes:
      - ./config/inventory.yml:/ansible/inventory.yml
      - ./config/playbooks:/ansible/playbooks
    environment:
      - ANSIBLE_HOST_KEY_CHECKING=false
      - ANSIBLE_PYTHON_INTERPRETER=/usr/bin/python3.13